.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: white;
}

h1 {
  margin: 30px;
  font-family: 'Salsa', cursive;
  text-shadow: 5px 0 #131613;
  font-size: 8rem;
  color: #22800D;
}

p {
  font-size: 2rem;
  color: #22800D;
  font-family: 'Salsa', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #22800D;
  text-align: center;
  font-family: 'Salsa', cursive;
}

a {
  color: #22800D;
}
